body {
  background-color: #111;
  margin: 0;
  padding: 0;
}
.page {
  width: 960px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  color: #444749;
  background-image: url(img/bg.jpg);
}
.title {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.header,
.paragraph {
  font-family: verdana;
}
.timer {
  /*    text-align: center;*/
  /*    margin-left: 600px;*/
  font-family: 'Russo One', sans-serif;
  font-size: 60px;
  color: orangered;
  padding-left: 360px;
}
.field {
  background-color: rgba(255, 255, 255, 0.85);
  font-family: verdana;
}
.field .btn {
  border: none;
  margin: 5px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.2s ease;
}
.field .btn:hover {
  filter: brightness(1.25);
}
.field .btn.btn-new {
  background-color: forestgreen;
  color: white;
}
.field .btn.btn-light {
  background-color: royalblue;
  color: white;
}
.field .btn.btn-red {
  background-color: crimson;
  color: white;
}
.field .task-box {
  padding: 20px;
  border: 1px solid crimson;
  margin-bottom: 10px;
}
.field .task-box p,
.field .task-box h3 {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.field .task-box p {
  border-bottom: 1px solid crimson;
  padding-bottom: 10px;
}
.field .task-box h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.field .task-box h3:hover {
  background-color: #ddd;
}
